<html>
    <head>
        <title>Mi experiencia con Django: Tutorial de Django girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mi experiencia con Django: Tutorial de Django girls</a></h1>
        </div>

        <div>
            <p>published: 17.04.2024, 2:50 a. m.</p>
            <h2><a href="">Introducción</a></h2>
            <p>En el siguiente post se hará una reseña de mi experiencia programando en Django con los tutoriales de Django girls</p>
        </div>

        <div>
            <p>published: 17.04.2024, 12:14</p>
            <h2><a href="">Desarrollo</a></h2>
            <p>...</p>
        </div>
    </body>
</html>